<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Stream Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="video-section">
                <div class="video-wrapper">
                    <h3>Stream</h3>
                    <canvas id="processed_canvas"></canvas>
                </div>
            </div>
            <div class="control-section">
                <div class="buttons-column">
                    <div id="fps">FPS: Loading</div>
                    <select id="cameraSelect"></select>
                    <button id="drawToggle" class="control-button draw-enabled">Draw On</button>
                    <button id="trackingToggle" class="control-button tracking-disabled">Tracking Off</button>
                    <button id="focusToggle" class="control-button focus-disabled">Focus Off</button>
                </div>
                <div class="performance-column">
                    <div class="data-box" id="usageData">
                        <div class="performance-content">
                            <div class="cpu-column">
                                <div id="cpuUsage"></div>
                            </div>
                            <div class="npu-column">
                                <div id="npuUsage"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <div class="combined-box">
                <div class="categories-container" id="categoriesContainer"></div>
            </div>
        </div>
        
        <canvas id="canvas" style="display: none;"></canvas>
        <video id="video" autoplay playsinline style="display: none;"></video>
    </div>

     
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>